<!DOCTYPE html>
<html>
<head>
    <meta lang="en-us" charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    @RenderSection("mystyles",false)
    <title>@ViewBag.Title</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-leaf"></span> GarmentsShop</a>
            </div>
        </div>
    </nav>

    <main class="container-fluid">
        @RenderBody()
    </main>

    <!--Java Script-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/evsscript.js"></script>
    @RenderSection("myscript", false)
</body>
</html>